html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(235,235,235);
    font-family: "Poppins", sans-serif;
}

.music-player{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   height: 100vh;
}
.container{
    padding: 1.3rem 1.3rem 2rem 1.3rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 8px 8px 2px rgba(173, 216, 230, 1);
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    height: 25%; 
    width: 100%;
}
.information p{
    font-size: small;
    font-weight: 500;
    color: black;

    margin-top: 0.6rem;
}
#playing-now{
    color: #acadac;
}
#name-song{
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size:0.9rem;
}
.img-span{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.top-bars i{
    color: #acadac;
    font-size: x-large;
}

.bottom-bars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

.current-music{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.current-music img{
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 8px 8px 2px #fff;
}
.top-bars{
    display: flex;
    justify-content: space-between;
    height: 40%;
}


.timer{
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #acadac;
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    color: #acadac;
}
#play{
    font-size:2.8rem;
    color: grey;
}

.song-names{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
    color: #acadac;
    font-size: 0.9rem;
    font-weight: 500;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}
#current-music{
    color: black;
}
.song-names span{
    display: flex;
    justify-content: space-between;
}

.controller-info{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controller hr{
    border: 1.5px solid #808080; /* #808080 represents gray color in hexadecimal */
    margin: 10px 0;
}


.bul{
    background-color: aqua; 
    border-radius: 50%;
    height: 0.3rem;
    width: 0.3rem;
    align-self: center;
    /* padding-right: 5px; */
}
.magic{
    display: flex;
}